<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">{{pageTitle}}</h4>
      <div class="page-title-right">
        <!-- <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
            (click)="addOrganization()"><i class="mdi mdi-plus me-1"></i> Add New Order</button> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card userTemplate">
      <div class="row">
        <div class="col-xl-4 no-padding-right">
          <div class="left-panel">
            <ul class="list">
              <!-- <li class="active">
                <h3>Naresh Bolakonda </h3>
                <h4 class="mobile">9701630343</h4>
                <span class="email">naresh@rpwebapps.com</span>
                <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
                <button class="btn btn-sm btn-default userblockAction primaryAction">Withdrawal</button>
              </li> -->
<ng-container *ngFor="let row of usersList; let i=index">
  <li  [ngClass]="(i==updatedIndex)?'active':''" (click)="slectedUser(row, i)" >
    <h3>{{row.firstName}}{{row.lastName}} </h3>
    <h4 class="mobile">{{row.phone}}</h4>
    <span class="email">{{row.emailId}}</span>
    <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
    <button class="btn btn-sm btn-default userblockAction primaryAction" *ngIf="isWithdrawal">Withdrawal</button>
  </li>
</ng-container>
            

              
              <!-- <li>
                <h3>Rajesh</h3>
                <h4 class="mobile">9701630343</h4>
                <span class="email">rajesh@rpwebapps.com</span>
                <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
              </li>
              <li>
                <h3>Edla Mahendhar </h3>
                <h4 class="mobile">9701630343</h4>
                <span class="email">mahi@rpwebapps.com</span>
                <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
              </li>
              <li>
                <h3>Edla Mahendhar </h3>
                <h4 class="mobile">9701630343</h4>
                <span class="email">mahi@rpwebapps.com</span>
                <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
              </li>
              <li>
                <h3>Edla Mahendhar </h3>
                <h4 class="mobile">9701630343</h4>
                <span class="email">mahi@rpwebapps.com</span>
                <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
              </li>
              <li>
                <h3>Edla Mahendhar </h3>
                <h4 class="mobile">9701630343</h4>
                <span class="email">mahi@rpwebapps.com</span>
                <button class="btn btn-sm btn-default userblockAction btn-positionAbs">Block</button>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="right-panel" *ngIf="filterDataList">
            <div class="row">
              <div class="col-12">
                <div class="user-block">
                  <h2>{{filterDataList.firstName}} {{filterDataList.lastName}}</h2>
                  <ul class="position-list">
                    <li class="email">{{filterDataList.emailId}}</li>
                    <li class="mobile">{{filterDataList.phone}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="pills-block">
                  <label>Last coins withdrawal  </label>
                  <h5>{{filterDataList.lastWithdrawTime | date :'dd-MMM-yy h:mm:ss a '}}</h5>
                </div>
              </div>
              <div class="col-4">
                <div class="pills-block">
                  <label>Coupons Used</label>
                  <h5>{{filterDataList.couponUsed}}</h5>
                </div>
              </div>
              <div class="col-4">
                <div class="pills-block no-border">
                  <label>Coins Earned</label>
                  <h5>{{filterDataList.earnCoin}}</h5>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-12">
                <hr>
              </div>
            </div> -->

            <div class="inner-card">
              <div class="row">
                <div class="col-6 vertical-line">
                  <h3>Bank Accounts</h3>
                  <ul class="card-list">
                    <li *ngFor="let acc of filterDataList.banks.accounts; let i=index" (click)="openLg(content, acc)"><span class="count">{{i+1}}</span>{{acc.accNo}} <span class="badge badge-primary " *ngIf="acc.isPrimary">Primary </span></li>
                    <!-- <li><span class="count">2</span>16270020211114</li>
                    <li><span class="count">3</span>16270020211114</li> -->
                  </ul>
                </div>
                <div class="col-6">
                  <h3>UPI</h3>
                  <ul class="card-list">
                    <li *ngFor="let acc of filterDataList.banks.UPI; let i=index"><span class="count">{{i+1}}</span>{{acc.id}} <span class="badge badge-primary " *ngIf="acc.isPrimary">Primary </span></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="pills-block no-border">
                  <p class="no-margin"> <strong>Questions</strong> <button
                      class="btn btn-primary btn-sm border-radious30px mr-left" (click)="showQuestions()">
                      Click here to view the
                      questions</button></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="deals-block">
                  <h3>Deals</h3>
                  <div class="deal" *ngFor="let deal of filterDataList.deals">
                    <h5>{{deal.offerTitle}} - <span class="pill">{{deal.category}}</span></h5>
                    <span>From Date: {{deal.fromDate | date :'dd-MMM-yy h:mm:ss'}}</span> -  <span>End Date: {{deal.eOn | date :'dd-MMM-yy h:mm:ss'}}</span>
                     <div  innerHtml="{{deal.dealContent}}"></div>
                    <ul>
                      <li>
                        <label>Shared Count</label>
                        <h6>{{deal.sharedCnt}}</h6>
                      </li>
                      
                      <li>
                        <label>View Count</label>
                        <h6>{{deal.viewCnt}}</h6>
                      </li>
                      <li>
                        <label>Total Coins</label>
                        <h6>{{deal.totCoin}}</h6>
                      </li>
                      <li>
                        <label>Used Coins</label>
                        <h6>{{deal.usedCoin}}</h6>
                      </li>
                      <!-- <li>
                        <label>Coins</label>
                        <h6>40</h6>
                      </li> -->
                      <li>
                        <label>Deal Link</label>
                        <h6><a href="{{deal.linkUrl}}">Click here</a></h6>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="deal">
                    <h5>Diwali Offer - <span class="pill">Comedy</span></h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <ul>
                    
                      <li>
                        <label>Video</label>
                        <h6>40</h6>
                      </li>
                      <li>
                        <label>Traffic</label>
                        <h6>40</h6>
                      </li>
                      <li>
                        <label>Coupons</label>
                        <h6>40</h6>
                      </li>
                      <li>
                        <label>Coins</label>
                        <h6>40</h6>
                      </li>
                      <li>
                        <label>Deal Link</label>
                        <h6><a href="#">Click here</a></h6>
                      </li>
                    </ul>
                  </div> -->


                </div>

              </div>
            </div>

            <div class="row my-3">
              <div class="col-12">
                <div class="deals-block">
                  <h3>Coins renewed</h3>
                  <p>Withdrawals requested on 23 Nov 2021 <button
                    class="btn btn-primary btn-sm border-radious30px mr-left">
                    Payment Done</button></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>