<div class="common-layout" [ngClass]="{'sidebar-enable vertical-collpsed': isFolded}">
  <!-- sidebar-enable vertical-collpsed -->
  <app-header></app-header>

  <ng-sidebar-container class="page-container">

    <ng-sidebar [(opened)]="_opened" mode="push" position="left" [dock]="true" [dockedSize]="'70px'"
      [animate]="_animate">
      <!-- <ul metis-menu toggle="false">
        <li><a href="">Item 1</a></li>
        <li>
          <a href="#" class="has-arrow">Menu 1</a>
          <ul>
            <li><a href="#"> Item 3 sdsds sdsdsdsdsd</a></li>
            <li><a href="#"> Item 4 sd dsdsd sdsd</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="has-arrow"> Menu 2 </a>
          <ul>
            <li><a href=""> Item 5 </a></li>
            <li><a href=""> Item 6 </a></li>
            <li><a href=""> Item 7 </a></li>
            <li><a href=""> Item 8 </a></li>
          </ul>
        </li>
        <li><a href="">Item 2</a></li>
      </ul> -->

      <!-- ========== Left Sidebar Start ========== -->
      <!-- <app-sidenav></app-sidenav> -->
      <div class="vertical-menu">

        <div class="h-100">

          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul metis-menu class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title" key="t-menu">Menu</li>
              <ng-container *ngIf="role=='admin'">
                <li>
                  <a routerLink="dashboard" class="waves-effect">
                    <i class="bx bx-layout"></i>
                    <span>Dashboards</span>
                  </a>
                </li>

                <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-store"></i>
                    <span>Masters</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                    <li><a [routerLink]="['/masters']" routerLinkActive="router-link-active">Countries </a></li>
                    <li><a [routerLink]="['/masters/coins']" routerLinkActive="router-link-active">Coins </a></li>
                    <li><a [routerLink]="['/masters/cities']" routerLinkActive="router-link-active">Cities </a></li>
                    <li><a [routerLink]="['/masters/categories']" routerLinkActive="router-link-active">Categories </a>
                    </li>

                  </ul>
                </li>

                <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-receipt"></i>
                    <span key="t-ecommerce">Vendors</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                    <li><a [routerLink]="['/vendors']" routerLinkActive="router-link-active">Vendors List </a></li>
                  </ul>
                </li>
                <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-store"></i>
                    <span>Deals</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                    <li><a [routerLink]="['/deals']" routerLinkActive="router-link-active">Deals List </a></li>
                    <li><a [routerLink]="['/deals/create-deal']" routerLinkActive="router-link-active">Create Deal </a>
                    </li>


                  </ul>
                </li>
                <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-store"></i>
                    <span>Questions</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                    <li><a [routerLink]="['/questions']" routerLinkActive="router-link-active">Questions List </a></li>
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['/notification']" routerLinkActive="router-link-active"  class="waves-effect">
                    <i class="bx bx-store"></i>
                    <span>Notification Message</span>
                  </a>
               
                </li>

              </ng-container>
              <ng-container *ngIf="role=='vendor'">
                <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-store"></i>
                    <span>Deals</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                    <li><a [routerLink]="['/deals']" routerLinkActive="router-link-active">Deals List </a></li>
                    <li><a [routerLink]="['/deals/create-deal']" routerLinkActive="router-link-active">Create Deal </a>
                    </li>


                  </ul>
                </li>

                <li>
                  <a [routerLink]="['/coupon-validation']" routerLinkActive="router-link-active" class="waves-effect">
                    <i class="bx bx-store"></i>
                    <span> Coupon Validation</span>
                  </a>

                </li>


              </ng-container>

            </ul>
          </div>
          <!-- Sidebar -->
        </div>
      </div>
      <!-- Left Sidebar End -->

    </ng-sidebar>

    <div ng-sidebar-content>
      <div class="page-content">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
        <!-- <button (click)="_toggleOpened(false)" class="demo-header__toggle">Toggle sidebar</button> -->

      </div>

    </div>
  </ng-sidebar-container>
</div>
