<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">{{pageTitle}}</h4>
      <div class="page-title-right">
        <!-- <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
          (click)="addOrganization()"><i class="mdi mdi-plus me-1"></i> Add New Order</button> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="coinsForm">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group required">
                <label class="form-label">Select Country</label>
                <select class="form-control" formControlName="name" (change)="countryChange($event)"
                  [ngClass]="{ 'is-invalid': (submitted && form.name.errors) || (form.name.touched && form.name.errors) }">
                  <option [value]="row.name" *ngFor="let row of countryList">{{row.name}}</option>
                </select>
                <div *ngIf="submitted||(form.name.touched && form.name.invalid)">
                  <small class="form-text error-message" *ngIf="form.name.errors"> Country is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group required">
                <label class="form-label">Currency</label>
                <input type="text" class="form-control" formControlName="currency" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group required">
                <label class="form-label">Set <strong>1 Coin = {{upDatedCoinVal}} </strong>
                  <span>{{updatedCurrencyVal}}</span> </label>
                <input type="text" class="form-control" [(ngModel)]="upDatedCoinVal" formControlName="coinVal"
                  [ngClass]="{ 'is-invalid': (submitted && form.coinVal.errors) || (form.coinVal.touched && form.coinVal.errors) }">
                <div *ngIf="submitted||(form.coinVal.touched && form.coinVal.invalid)">
                  <small class="form-text error-message" *ngIf="form.coinVal.errors"> Set Coin is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="mb-3 mt-4">
                  <button type="submit" *ngIf="!isRowEdit" class="btn btn-primary w-md"
                    (click)="onSubmit()">Submit</button>
                  <button type="submit" *ngIf="isRowEdit" class="btn btn-primary w-md"
                    (click)="updateRow()">Update</button>
                </div>

              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Coins List</h4>
        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>
                <th class="align-middle">#</th>
                <th class="align-middle">Country Name</th>
                <th class="align-middle">Currency</th>
                <th class="align-middle">Set Coins</th>
                <th class="align-middle" style="width: 150px;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of countryCoinsData; let i=index">

                <td>{{i+1}} </td>
                <td>{{row.name}}</td>
                <td>{{row.currency}}</td>
                <td>{{row.coinVal}}</td>
                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editRow(row)"><i
                        class="mdi mdi-pencil font-size-18"></i></a>
                    <!-- <a href="javascript:void(0);" class="text-danger" (click)="rowDelete(row.id)"><i
                        class="mdi mdi-delete font-size-18"></i></a> -->
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
</div>

<ngx-spinner bdColor="rgba(253,254,255,0.8)" size="medium" color="#0c62db" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p style="color: #007bff"> Loading... </p>
</ngx-spinner>
