<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">{{pageTitle}}</h4>
      <div class="page-title-right">
        <!-- <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
          (click)="addOrganization()"><i class="mdi mdi-plus me-1"></i> Add New Order</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group required">
                <label class="form-label">Notification Title</label>
                <input type="text" class="form-control">
              </div>
            </div>
           
            <div class="col-md-3">
              <div class="form-group required">
                <label for="formrow-email-input" class="form-label">Start Date & Time</label>
                <input class="form-control" type="datetime-local" >
              </div>
              </div>
              <div class="col-md-3">
                <div class="form-group required">
                  <label class="form-label">End Date & Time</label>
                  <input class="form-control" type="datetime-local" >
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group required">
                  <label for="formrow-email-input" class="form-label">Message</label>
                  <textarea type="text" class="form-control"> </textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3 mt-4">
                  <button type="submit" class="btn btn-primary w-md"
                    >Submit</button>
                  <!-- <button type="submit" class="btn btn-primary w-md"
                  >Update</button> -->
                </div>
              </div>
             
          </div>
        </form>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Country List</h4>
        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>

                <th class="align-middle">#</th>
                <th class="align-middle">Notification Title</th>
                <th class="align-middle">Message</th>
                <th class="align-middle">Start Date & Time</th>
                <th class="align-middle">End Date & Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
</div>
