<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">{{pageTitle}}</h4>
      <div class="page-title-right">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
          (click)="createDeal()"><i class="mdi mdi-plus me-1"></i> Create Deal</button>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">City List</h4> -->
        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>

                <th class="align-middle">Created Date</th>
                <th class="align-middle">Deal ID</th>
                <th class="align-middle">Deal Name</th>
                <th class="align-middle">End Date</th>
                <th class="align-middle">Location</th>
                <th class="align-middle">No.Of Views</th>

                <th class="align-middle" style="width: 150px;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dealsList; let i=index">


                <td>{{row.cOn | date:'medium' }}</td>
                <td>{{row.id}}</td>
                <td>{{row.offerTitle}}</td>
                <td>{{row.toDate | date:'medium'}}</td>
                <td>{{row.location.address}}</td>
                <td><span *ngIf="row.viewCount">{{row.viewCount}}</span> <span *ngIf="!row.viewCount">0</span></td>


                <td>
                  <div class="d-flex gap-3">
                    <button *ngIf="row.state===1" class="btn btn-primary waves-effect waves-light btn-sm margin-right3"
                      (click)="dealAction(0, row.id)">Pause
                    </button>
                    <button *ngIf="row.state===0" class="btn btn-success waves-effect waves-light btn-sm margin-right3"
                      (click)="dealAction(1, row.id)">Play
                    </button>

                    <button class="btn btn-danger waves-effect waves-light btn-sm"
                      (click)="dealAction(2, row.id)">Delete</button>



                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
</div>

<ngx-spinner bdColor="rgba(253,254,255,0.8)" size="medium" color="#0c62db" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p style="color: #007bff"> Loading... </p>
</ngx-spinner>
