<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">{{pageTitle}}</h4>
      <div class="page-title-right">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
          (click)="backNavigation()"><i class="mdi mdi-arrow-left me-1"></i> Back to List</button>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="createDealForm">
          <div class="row">
            <div class="col-md-3" *ngIf="role=='admin'">
              <div class="form-group required">
                <label class="form-label">Select Vendor</label>
                <select class="form-control" formControlName="vendorId" (change)="getVendorId($event)">
                  <option [value]="row.userId" *ngFor="let row of vendorList;">{{row.firstName}}</option>
                </select>

              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group required">
                <label class="form-label">Select Radius</label>
                <select class="form-control" (change)="changeRadious($event)">
                  <option [value]="row.value" *ngFor="let row of radiusMaster;">{{row.value}}</option>
                </select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 googlemap mb-3">
              <h4 class="card-title">Map your offer radius</h4>
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapReady)="mapReadyHandler($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
                <!-- *ngIf="locationChosen" -->
                <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="radius" [fillColor]="'red'"
                  [circleDraggable]="true" [editable]="false" (centerChange)="centerChange($event)">
                </agm-circle>

              </agm-map>

              <div><strong>Address</strong> : {{address}}</div>
              <!-- <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>
              <div>Radius: {{radius}}</div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-12">
                            <h4 class="card-title">Select Date Range</h4>
                        </div> -->
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">From Date & Time</label>
                <input class="form-control" type="datetime-local" formControlName="fromDate"
                  [ngClass]="{ 'is-invalid': (submitted && form.fromDate.errors) || (form.fromDate.touched && form.fromDate.errors) }">
                <div *ngIf="submitted||(form.fromDate.touched && form.fromDate.invalid)">
                  <small class="form-text error-message" *ngIf="form.fromDate.errors"> From Date is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">To Date & Time</label>
                <input class="form-control" type="datetime-local" formControlName="toDate"
                  [ngClass]="{ 'is-invalid': (submitted && form.toDate.errors) || (form.toDate.touched && form.toDate.errors) }">
                <div *ngIf="submitted||(form.toDate.touched && form.toDate.invalid)">
                  <small class="form-text error-message" *ngIf="form.toDate.errors"> To Date is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Offer Title</label>
                <input class="form-control" type="text" formControlName="offerTitle"
                  [ngClass]="{ 'is-invalid': (submitted && form.offerTitle.errors) || (form.offerTitle.touched && form.offerTitle.errors) }">
                <div *ngIf="submitted||(form.offerTitle.touched && form.offerTitle.invalid)">
                  <small class="form-text error-message" *ngIf="form.offerTitle.errors"> Offer Title is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4 class="card-title">Deal image Upload</h4>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Deal Image</label>
                <input class="form-control" type="file" formControlName="dealmg"
                  (change)="detectFiles($event, 'dealmg')" accept=".png, .jpg, .jpeg">
                <!-- <img *ngFor="let item of files" src={{item.imgUrl}} alt="" style="width: 60px;" id="img"> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mt-4">
                <button class="btn btn-primary waves-effect waves-light  margin-right3 btn-sm ms-1"
                  (click)="uploadDealImg()">Upload <i class="mdi mdi-cloud-upload-outline"></i></button>
                <button class="btn btn-secondary waves-effect waves-light btn-sm" (click)="resetBtn('dealmg')">Cancel <i
                    class="mdi mdi-close-circle-outline
                                        ms-1"></i></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group required">
                <label class="form-label">Page Content</label>
                <!-- <textarea class="form-control" formControlName="dealContent" ></textarea> -->
                <ckeditor [editor]="Editor" formControlName="dealContent" debounce="500"
                  (change)="onChangeDealContent($event)">
                </ckeditor>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <strong>Choose share type</strong>
                <div class="form-check form-check-inline" style="margin-left:5px ;">
                  <input class="form-check-input" type="radio" name="sahre" value="video" (change)="sharetype($event)">
                  <label class="form-check-label">Dedicated Video</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sahre" value="image" (change)="sharetype($event)">
                  <label class="form-check-label">Deal Image to share</label>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Dedicated Video Instructions </h4>
              <div class="form-group required">
                <label class="form-label">Dedicated Video Instructions and video Content </label>
                <!-- <textarea class="form-control" formControlName="dealContent"></textarea> -->
                <ckeditor [editor]="Editor" formControlName="vedInstr" (change)="onChangeVideoInstContent($event)">
                </ckeditor>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Video assets for influencers </h4>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Upload Video Assets for influencers</label>
                <input class="form-control" type="file" formControlName="vAssets"
                  (change)="detectFiles($event, 'vAssets')">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mt-4">
                <button class="btn btn-primary waves-effect waves-light  margin-right3 btn-sm ms-1"
                  (click)="uploadVideoAssets()">Upload <i class="mdi mdi-cloud-upload-outline"></i></button>
                <button class="btn btn-secondary waves-effect waves-light btn-sm" (click)="resetBtn('vAssets')">Cancel
                  <i class="mdi mdi-close-circle-outline
                                        ms-1"></i></button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Image Share Instructions</h4>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Campaign Message</label>
                <textarea class="form-control" formControlName="sharedImgInstr"
                  placeholder="Please write content to share <link><coupon code>"></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Upload image to share</label>
                <input class="form-control" type="file" formControlName="dealmg">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mt-4">
                <button class="btn btn-primary waves-effect waves-light  margin-right3 ms-1 btn-sm">Upload <i
                    class="mdi mdi-cloud-upload-outline"></i></button>
                <button class="btn btn-secondary waves-effect waves-light btn-sm">Cancel <i class="mdi mdi-close-circle-outline
                                        ms-1"></i></button>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Campaign Budget</label>
                <input class="form-control" type="text" formControlName="campBudget" placeholder="Budget">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group required">
                <label class="form-label">Bid for each coin</label>
                <input class="form-control" type="text" formControlName="bidPerCoin"
                  placeholder="Devide coins (in INR)">
                <small>500 coins as per your budget</small>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">I Agree Temers & Conditions, Refund policy</h4>
              <div class="form-check" style="margin-left:5px ;">
                <input class="form-check-input" type="checkbox" (change)="termsCheck($event)">
                <label class="form-check-label">I Agree Temers & Conditions, Refund policy</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end card body -->
      <div class="card-footer">
        <div class="row">
          <div class="col-12 text-right">
            <button class="btn btn-success waves-effect waves-light  margin-right3 ms-1" (click)="onSaveDeal()">Save
              Changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
<ngx-spinner bdColor="rgba(253,254,255,0.8)" size="medium" color="#0c62db" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p style="color: #007bff"> Loading... </p>
</ngx-spinner>
