<public-header></public-header>
<!-- <div class="login">
  <router-outlet></router-outlet>
</div> -->

<div class="container dealContainer" *ngIf="dealData">
  <div class="card">
    <div class="card-header">
      <h4>{{coupon}}</h4>
      <span>{{dealData.fromDate | date :'dd-MMM-yy h:mm:ss'}}</span> -  <span>{{dealData.toDate | date :'dd-MMM-yy h:mm:ss'}}</span> | <span>Used Coins : {{dealData.usedCoin}}</span>
      <span class="poabs badge">{{dealData.category}}</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <figure class="figure">
            <img [src]="dealData.dealImg.filePath" class="figure-img img-fluid rounded" alt="...">
            <!-- <figcaption class="figure-caption text-right">A caption for the above image.</figcaption> -->
          </figure>


          <p [innerHTML]="dealData.dealContent"></p>
        </div>
      </div>
      <div class="row" *ngIf="dealData.vedInstr">
        <div class="col-md-12">
          <h3>Video Instructions</h3>
          <div [innerHTML]="dealData.vedInstr"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
         <hr>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <h3>Address</h3>
          <address>
            {{dealData.location.address}}
          </address>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
<ngx-spinner bdColor="rgba(253,254,255,0.8)" size="medium" color="#0c62db" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p style="color: #007bff"> Loading... </p>
</ngx-spinner> -->
