<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Total Revenue </h5>
                 
                </div>
                <div class="chart">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Users </h5>
                 
                </div>
                <div class="chart">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        </div>
</div>
<div class="row">


        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                 
                    <div class="chart">
                        <app-transaction></app-transaction>
                    </div>
                </div>
            </div>
            </div>
        
</div>




