<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">{{pageTitle}}</h4>
      <div class="page-title-right">
        <!-- <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
          (click)="addOrganization()"><i class="mdi mdi-plus me-1"></i> Add New Order</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
        <div class="card-body">
          <form [formGroup]="countryForm">
                      <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label class="form-label">Name of the Country</label>
                           <select class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': (submitted && form.name.errors) || (form.name.touched && form.name.errors) }" #t (change)="selectCountry(t.value)">
                              <option *ngFor="let row of countryCodes" [value]="row.code">{{row.name}}</option>
                             </select>
                          
                            <div *ngIf="submitted||(form.name.touched && form.name.invalid)">
                              <small class="form-text error-message" *ngIf="form.name.errors"> Country Name is
                                required</small>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group required">
                          <label for="formrow-email-input" class="form-label">Country Code</label>
                          <input type="text" class="form-control" formControlName="code" readonly>
                          <!-- <select class="form-control" formControlName="code" [ngClass]="{ 'is-invalid': (submitted && form.code.errors) || (form.code.touched && form.code.errors) }">
                          <option *ngFor="let row of countryCaodeValue" [value]="row.phone_code">{{row.phone_code}}</option>
                         </select> -->
                      </div>
                  </div>
                    <div class="col-md-4">
                        <div class="mb-3 mt-4">
                          <button type="submit" *ngIf="!isRowEdit" class="btn btn-primary w-md" (click)="onSubmit()">Submit</button>
                          <button type="submit" *ngIf="isRowEdit" class="btn btn-primary w-md" (click)="updateRow()">Update</button>
                        </div>
                    </div>
                </div>

               

              
            </form>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card">
        <div class="card-body">
         <h4 class="card-title">Country List</h4>
         <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>
              
                <th class="align-middle">#</th>
                <th class="align-middle">Country Code</th>
                <th class="align-middle">Country Name</th>
                <th class="align-middle" style="width: 150px;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of countryList">
              
                <td>{{row.id}} </td>
                <td>{{row.code}}</td>
                <td>{{row.name}}</td>
                

                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editRow(row)"><i
                        class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" (click)="rowDelete(row.id)"><i class="mdi mdi-delete font-size-18"></i></a>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>
</div>
